<h2 class="page-header">Search Books</h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Title</label>
            <input type="text" name="title" value="<%= searchOptions.title %>">
        </div>
    </div>

    <div class="form-row">
        <div class="form-item">
            <label>Published After</label>
            <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
        </div>
        <div class="form-item">
            <label>Published Before</label>
            <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
        </div>
    </div>

    <div class="form-row form-row-end">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<br>
<%- include('../partials/bookGrid', { books : books }) %>