<h2 class="page-header">New Book</h2>
<form action="/books" method="POST">
    <%- include('_form_fields') %> 
    <div class="form-row form-row-end btn-row">
        <a href="/books" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>