<header>
    <nav class="header-nav">
        <a href="/" class="header-title">BooksWorld</a>
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">Add Book</a></li>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
        </ul>
    </nav>
</header>