<% if(books.length > 0) {%> 
    <h2 class="page-header">Recently Added</h2>
    <%- include('partials/bookGrid', { books : books, large : true }) %>
<% } else { %> 
    <h2 class="page-header warning-message">There is no books there please add</h2>
<% } %> 