@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/forms.css';
@import 'shared/authors.css';
@import 'shared/books.css';

:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--color-text-light)
}

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.error-message{
    color: hsl(var(--color-danger-hue), 100%, 50%);
}

.warning-message{
    color: hsl(var(--color-danger-hue), 100%, 50%);
    text-align: center;
}