<h2 class="page-header"><%= author.name %></h2>
<div class="btn-row">
    <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Edit</a>
    <%- include('../partials/deleteForm', { url : `/authors/${author.id}`}) %> 
</div>
<% if(booksByAuthor.length) { %> 
    <h2 class="page-header">Books By Author</h2>
    <%- include('../partials/bookGrid', { books : booksByAuthor }) %> 
<% } %> 